---
layout: default
---



<center>
    <img src="/misc/screen-recording-demo.gif" style="width: 80%; height: auto; display: block; margin: 0 auto 40px;">
</center>

<div style="max-width: 680px; margin: 0 auto 40px; padding: 20px 0; line-height: 1.6;">
<p>Welcome to my little corner of the internet. I'm Josh. I've been working on AI and language systems since 2011. A few things I've done: co-founded a voice cloning startup, released <a href="https://huggingface.co/coqui/XTTS-v2">open-source models</a> with 9M+ monthly downloads, lead applied AI teams, shipped LLM and multimodal SaaS and consumer products, shipped AI hardware, a PhD in automatic speech recognition, and lots of travel. Currently I'm a founding engineer at <a href="https://veris.ai/">Veris AI</a>, building simulation sandboxes for LLM agents.</p>
</div>

<div class="home">

  <center><img src="misc/Lfst-big.png" style="max-width: 100%; height: auto;"></center>
<br/>

    <h1 class="page-heading" style="font-size:40px;" >Speech Recognition</h1>

  <ul class="post-list">
    {% for post in site.categories.ASR %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<br/>
<br/>

  <center>
    <img src="misc/spectrogram.png" style="max-width: 100%; height: auto;">
  </center>

    <h1 class="page-heading" style="font-size:40px;" >Speech Synthesis</h1>

  <ul class="post-list">
    {% for post in site.categories.TTS %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<br/>
<br/>

  <center>
  <img src="misc/tf-graph.png" style="max-width: 100%; height: auto;">
  </center>

    <h1 class="page-heading" style="font-size:40px;" >Machine Learning</h1>

  <ul class="post-list">
    {% for post in site.categories.MachineLearning %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<br/>
<br/>

  <center>
    <img src="/misc/figs/wet-on-wet.png" style="max-width: 100%; height: auto;">
  </center>

  <h1 class="page-heading" style="font-size:40px;" >Miscellaneous</h1>

  <ul class="post-list">
    {% for post in site.categories.misc %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
