---
layout: default
---


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<center>
<img src="misc/josh-pic.jpg" style="margin:45px; padding:45px;" height="450" alt="what a pic!">
</center>




<div class="home">
  

  <center><img src="misc/Lfst-big.png" height="500"></center>
<br/>
<br/>
    <h1 class="page-heading" style="font-size:40px;" >Speech Recognition</h1>

  <ul class="post-list">
    {% for post in site.categories.ASR %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


  <center>
    <img src="misc/spectrogram.png" height="300" style="margin:15px; padding:15px;" >
  </center>
<br/>
<br/>
    <h1 class="page-heading" style="font-size:40px;" >Speech Synthesis</h1>

  <ul class="post-list">
    {% for post in site.categories.TTS %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


  <center>
  <img src="misc/tf-graph.png" height="350" style="margin:35px; padding:15px;" >
  </center>

<br/>
<br/>
    <h1 class="page-heading" style="font-size:40px;" >Machine Learning</h1>

  <ul class="post-list">
    {% for post in site.categories.MachineLearning %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  <h1 class="page-heading" style="font-size:40px;" >Miscellaneous</h1>

  <ul class="post-list">
    {% for post in site.categories.misc %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      

</div>





<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1 class="page-heading" style="font-size:40px;" >Downloads</h1>


You can download an <A HREF="http://www.nvaccess.org/">NVDA</A> installer with Kyrgyz language support <A HREF="http://jrmeyer.github.io/misc/NVDA_with_kyrgyz_11-11-2016.exe">here.</A> You should be able to install the program by double clicking on the file and following the directions. To turn Kyrgyz language support on or off, navigate to "Voices" under "Settings" after you've installed the program. This project was conducted with <A HREF="https://www.facebook.com/EmpowerBlindPeople/">Empower Blind People</A>, a non-profit organization for blind people in Kyrgyzstan. Any feedback on the Kyrgyz support (accent, translation, errors, etc) is gladly welcomed!

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<h1 class="page-heading" style="font-size:40px;" >News</h1>


<audio data-theme="night" data-src="https://changelog.com/practicalai/104/embed" src="https://cdn.changelog.com/uploads/practicalai/104/practical-ai-104.mp3" preload="none" class="changelog-episode" controls></audio><p><a href="https://changelog.com/practicalai/104">Practical AI 104: Speech tech and Common Voice at Mozilla</a> – Listen on <a href="https://changelog.com/">Changelog.com</a></p><script async src="//cdn.changelog.com/embed.js"></script>

<br/>
<br/>

News about the Hakha Chin language being added to Mozilla's Common Voice. The project was spear-headed by Peng Hlei Thang and the Linguistics Department at Indiana University Bloomington.

<br/>
<br/>
<br/>
<br/>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/f39dFqqVIak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<br/>
<br/>
<br/>
<br/>

Here's an interview I did in Paris during the Week of Young International Scientific Talents (Semaine des jeunes talents scientifiques internationaux):

<br/>
<br/>
<br/>
<br/>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/A5Yr7cFzxmU" frameborder="0" allowfullscreen></iframe>
</center>

<br/>
<br/>

Here's another interview from the same week at France Inter.

<br/>
<br/>

<iframe src="https://www.franceinter.fr/embed/player/aod/70cc17ef-425c-4cbb-b2d1-b7277fb94590" width="100%" height="64" frameborder="0" scrolling="no"></iframe>

<br/>
<br/>

Here's a couple videos below about our speech synthesis project for the Kyrgyz language. This project was done in collaboration with <A HREF="https://www.facebook.com/EmpowerBlindPeople/">Empower Blind People</A> to create a speech synthesizer for the Kyrgyz language, to be used in the open source project <A HREF="http://www.nvaccess.org/">NVDA</A>.

<br/>
<br/>
<br/>
<br/>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/g9YFisVA24E" frameborder="0" allowfullscreen></iframe>
</center>

<br/>
<br/>
<br/>
<br/>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RXamyDte4p0" frameborder="0" allowfullscreen></iframe>
</center>
  
<br/>
<br/>
<br/>
<br/>

<center>
<div class="fb-video" 
     data-href="https://www.facebook.com/kloop.kg/videos/10153989797859639/" 
     data-width="500" 
     data-show-text="true"
><blockquote cite="https://www.facebook.com/kloop.kg/videos/10153989797859639/" 
             class="fb-xfbml-parse-ignore"
><a href="https://www.facebook.com/kloop.kg/videos/10153989797859639/"></a><p>Иностранные программисты о программе, которая помогает незрячим читать текст на кыргызском языке.</p>Опубликовано <a href="https://www.facebook.com/kloop.kg/">Kloop</a> 5 октября 2016 г.</blockquote></div>
</center>
  


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
